.footer {
  background-color: #181818;
  padding: 40px 0;
}

.footer a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  color: white;
}

/* Icone social */
.social-icons a {
  font-size: 20px;
  margin-right: 15px;
  color: #b3b3b3;
}

.social-icons a:hover {
  color: white;
}
